.vagrant/
data/
*.crt
*.key
*.box
packer/output-*/
packer/packer_cache/

guestdata/*
!guestdata/dotfiles/
guestdata/dotfiles/*
guestdata/dotfiles/.*
!guestdata/dotfiles/.keep

!guestdata/db/
guestdata/db/*
guestdata/db/.*

!guestdata/db/hub/
guestdata/db/hub/*
guestdata/db/hub/.*
!guestdata/db/hub/.keep

!guestdata/db/hub_metrics/
guestdata/db/hub_metrics/*
guestdata/db/hub_metrics/.*
!guestdata/db/hub_metrics/.keep

!guestdata/webroot/
guestdata/webroot/*
guestdata/webroot/.*
!guestdata/webroot/.keep
